<!-- BEGIN #footer -->
<div id="footer">

  <div id="footer-widgets">
    <div class="wrapper">

      <div class="paragraph-row">
        <div class="column12">
          <!-- BEGIN .widget -->
          <div class="widget">

            <div class="do-space do-space-bg">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- codice_insicuro_header -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-2061263441355929"
                   data-ad-slot="5046561295"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- <strong>Sponsored advertisement</strong> -->
            </div>

            <!-- END .widget -->
          </div>
        </div>
      </div>

      <div class="paragraph-row">

        <div class="column3">
          <div class="widget">
            <div>
              <p><img src="{{site.url}}/assets/images/logo-bianco.png" data-ot-retina="{{site.url}}/assets/images/logo-bianco.png" alt="" /></p>
              <p>{{site.description}}</p>
              <p>Il progetto Codice Insicuro nasce per parlare di sicurezza applicativa trattando temi reali, raccontando i problemi e le riflessioni di ogni giorno.</p>
              {% comment %} <div class="short-icon-text"> {% endcomment %}
              {% comment %}   <i class="fa fa-phone"></i> {% endcomment %}
              {% comment %}   <span>+39 349 5386207</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
              <div class="short-icon-text">
                <i class="fa fa-location-arrow"></i>
                <span>Gessate, Italy</span>
              </div>
              <div class="short-icon-text">
                <i class="fa fa-envelope"></i>
                <span><a style="color:white;" href="mailto: paolo@codiceinsicuro.it">paolo@codiceinsicuro.it</a></span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="footer-info">
    <div class="wrapper">
      <ul class="right">
        <li><a href="index.html">Homepage</a></li>
        <li><a href='{{ site.baseurl }}newsletter'>Newsletter</a></li>
        <li><a href='{{ site.baseurl }}getting-root'>Getting Root</a></li>
        <li><a href='{{ site.baseurl }}rimedi'>Rimedi</a></li>
        <li><a href='{{ site.baseurl }}chicchi'>Chicchi</a></li>
        <li><a href='{{ site.baseurl }}about'>About</a></li>
        <li><a href='{{ site.baseurl }}contatti'>Contatti</a></li>
        <li><a href='{{ site.baseurl }}cookie-policy'>Cookie Policy</a></li>
      </ul>
      <p>{{ site.name }} v{{site.version}}<strong>&copy; 2014-2018. All rights reserved.</strong> Crafted with love and care by <a href="mailto:paolo@codiceinsicuro.it">paolo@codiceinsicuro.it</a>.</p>
    </div>
  </div>

</div>

