<!-- BEGIN .wrapper -->
<div class="wrapper">

  <div class="header-panels">
    
    <!-- BEGIN .header-logo -->
    <div class="header-logo">
      <a href="index.html"><img src="{{site.url}}/assets/images/logo.png" data-ot-retina="{{site.url}}/assets/images/logo@2x.png" alt="" /></a>
    <!-- END .header-logo -->
    </div>
    
    <!-- BEGIN .header-socials -->
    <div class="header-socials">
      <a href="https://www.facebook.com/codiceinsicuro"><i class="fa fa-facebook"></i><span></span></a>
      <a href="https://twitter.com/codiceinsicuro"><i class="fa fa-twitter"></i><span></span></a>
      <a href="#"><i class="fa fa-google-plus"></i><span>118</span></a>
      <a href="{{site.url}}/feed.xml"><i class="fa fa-rss"></i><span></span></a>
    <!-- END .header-socials -->
    </div>
    
    <!-- BEGIN .header-pob -->
    <div class="header-pob">
      <a href="#" target="_blank"><img src="{{site.url}}/assets/images/advertise_banner.png" alt="" /></a>

    <!-- END .header-pob -->
    </div>

  </div>
  
<!-- END .wrapper -->
</div>


