<div class="ticker-container">
  <div class="ticker-caption">
    <p>Breaking News</p>
  </div>
  <ul>
    <div>
      <li><span>Breaking News 1 &ndash; <a href="#">read more</a></span></li>
    </div>
    <div>
      <li><span>Breaking News 2 &ndash; <a href="#">read more</a></span></li>
    </div>
    <div>
      <li><span>Breaking News 3 &ndash; <a href="#">read more</a></span></li>
    </div>
    <div>
      <li><span>Breaking News 4 &ndash; <a href="#">read more</a></span></li>
    </div>
    <div>
      <li><span>Breaking News 5 &ndash; <a href="#">read more</a></span></li>
    </div>
  </ul>
</div>
