<script id="dsq-count-scr" src="https://codiceinsicuro.disqus.com/count.js" async></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/theia-sticky-sidebar.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/parallax.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/modernizr.custom.50878.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/iscroll.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/dat-menu.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/theme-scripts.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/ot-lightbox.min.js"></script>
<script>
  // Animation time of revieling and hiding menu (defaut = 400)
  var _datMenuAnim = 400;
  // Animation effect for now it is just 1 (defaut = "effect-1")
  var _datMenuEffect = "effect-2";
  // Submenu dropdown animation (defaut = true)
  var _datMenuSublist = true;
  // If fixed header is showing (defaut = true)
  var _datMenuHeader = true;
  // Header Title
  var _datMenuHeaderTitle = 'Portus';
  // If search is showing in header (defaut = true)
  var _datMenuSearch = true;
  // Search icon (FontAwesome) in header (defaut = fa-search)
  var _datMenuCustomS = "fa-search";
  // Menu icon (FontAwesome) in header (defaut = fa-bars)
  var _datMenuCustomM = "fa-bars";
</script>

<script>
  jQuery('.portus-article-slider-min').owlCarousel({
    loop: true,
    margin: 22,
    responsiveClass: true,
    responsive:{
      0:{
        items: 1,
        nav: true
      },
      600:{
        items: 3,
        nav: false
      },
      1000:{
        items: 5,
        nav: true,
        loop: false
      }
    }
  });

  jQuery('.portus-video-slider-min').owlCarousel({
    loop: true,
    margin: 22,
    responsiveClass: true,
    responsive:{
      0:{
        items: 1,
        nav: true
      },
      600:{
        items: 2,
        nav: false
      },
      1000:{
        items: 4,
        nav: true,
        loop: false
      }
    }
  });

  jQuery('.portus-article-slider-big').owlCarousel({
    loop: true,
    margin: 0,
    responsiveClass: true,
    responsive:{
      0:{
        items: 1,
        nav: false
      },
      650:{
        items: 2,
        nav: false
      },
      1000:{
        items: 2,
        nav: true,
        loop: false
      }
    }
  });

  jQuery('.article-slider-full-small').owlCarousel({
    loop: true,
    margin: 20,
    responsiveClass: true,
    items: 1,
    nav: true,
    loop: false
});

jQuery('.w-gallery-slider .item-header').owlCarousel({
loop: true,
margin: 20,
responsiveClass: true,
items: 1,
nav: true,
loop: false
});
</script>

