<!-- BEGIN #main-menu -->
<nav id="main-menu">

  <a href="#dat-menu" class="dat-menu-button"><i class="fa fa-bars"></i>Show Menu</a>
  <div class="main-menu-placeholder">

    <!-- BEGIN .wrapper -->
    <div class="wrapper">

      <div class="search-nav right">
        <form action="https://cse.google.com:443/cse/publicurl?cx=017794078742867100120:uddgaz8xbqk">
          <input type="text" value="" placeholder="Cerca" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <ul class="load-responsive" rel="Main Menu">
        <li><a href="{{site.url}}">Homepage</a></li>
        <li><a href="#">Le serie</a>
          <ul class="sub-menu">
            <li><a href="{{site.url}}/chicchi/">Chicchi di programmazione sicura</a></li>
            <li><a href="{{site.url}}/rimedi/">Rimedi del bucaniere</a></li>
          </ul>
        </li>
        <li><a href="{{site.url}}/posts">Tutti i post</a></li>
        <li><a href="{{site.url}}/contatti">Contatti</a></li>
      </ul>

      <!-- END .wrapper -->
    </div>

  </div>

  <!-- END #main-menu -->
</nav>
