<header class="main-header post-head {% if page.image.feature %}" style="background-image: url(/assets/images/{{ page.image.feature }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.image.feature %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>

        <a class="subscribe-button icon-feed" href="http://feeds.feedburner.com/CodiceInsicuro">Subscribe</a>
        <a style="margin-right: 0.2em;" class="subscribe-button" href='{{ site.baseurl }}cookie-policy'>Cookie Policy</a>
        <a style="margin-right: 0.2em;" class="subscribe-button" href='{{ site.baseurl }}about'>About</a>
        <a style="margin-right: 0.2em;" class="subscribe-button" href='{{ site.baseurl }}contatti'>Contatti</a>
    </nav>
</header>
