<div class="article-main-next-prev">
  <div class="paragraph-row">
{% if page.previous.url %}
    <div class="column6">
      <a href="{{page.previous.url}}" class="article-nav-previous">
        <i class="fa fa-chevron-left"></i>
        <span>Previous article</span>
        <strong>{{page.previous.title}}</strong>
      </a>
    </div>
{% endif %}
{% if page.next.url %}
    <div class="column6">
      <a href="{{page.next.url}}" class="article-nav-next">
        <i class="fa fa-chevron-right"></i>
        <span>Next article</span>
        <strong>{{page.next.title}}</strong>
      </a>
    </div>
{% endif %}
  </div>
</div>

<div class="portus-post-author">
  <div class="portus-post-author-avatar">
    <a href={{site.author.uri}}><img src="{{ site.url }}/assets/images/{{site.author.avatar}}" class="bio-photo" alt="{{ site.author.name }} bio photo"/></a>
  </div>
  <div class="portus-post-author-content">
    <h3>{{site.author.name}}</a></h3>
    <p>{{ site.author.bio }}</p>
    <div class="item-meta">
      <a href="{{site.url}}/posts/"><i class="fa fa-reply"></i>View all articles</a>
      <a href="mailto:paolo@codiceinsicuro.it"><i class="fa fa-envelope"></i>Contact me</a>
    </div>
  </div>
</div>

