<!-- BEGIN #top-menu -->
<nav id="top-menu">

  <!-- BEGIN .wrapper -->
  <div class="wrapper">

    {% comment %} <div class="top-panel-weather right"> {% endcomment %}
      {% comment %} <span class="w-info">Weather</span> {% endcomment %}
      {% comment %} <strong>Latvia, Jurmala</strong> {% endcomment %}
      {% comment %} <span class="w-stats"><i class="wi wi-day-hail"></i>+16&deg;C</span> {% endcomment %}
    {% comment %} </div> {% endcomment %}

    <ul class="load-responsive" rel="Main Menu">
      <li><a href="index.html"><i class="fa fa-home"></i></a></li>
      <li><a href='{{ site.baseurl }}news'>News</a></li>
      <li><a href='{{ site.baseurl }}about'>About</a></li>
      <li><a href='{{ site.baseurl }}contatti'>Contatti</a></li>
      <li><a href='{{ site.baseurl }}cookie-policy'>Cookie Policy</a></li>
    </ul>

  <!-- END .wrapper -->
  </div>

<!-- END #top-menu -->
</nav>

