---
layout: default
disqus: true
archive: false
---


<!-- BEGIN .wrapper -->
<div class="wrapper">
  <!-- BEGIN .portus-main-content-panel -->
  <div class="paragraph-row portus-main-content-panel">
    <div class="column12">
      <div class="portus-main-content-s-block">

        <!-- BEGIN .portus-main-content -->
        <div class="portus-main-content portus-main-content-s-3">
          <div class="theiaStickySidebar">
            <div class="portus-main-article-block">
              <h2>{{page.title}}</h2>

              <p class="portus-main-article-intro">{{page.excerpt | strip_html | truncatewords: 150}}</p>

              <span class="portus-main-article-meta">
                <a href="{{site.url}}" class="item-meta-i"><i class="po po-head"></i>{{site.author.name}}</a>
                <a href="{{site.url}}" class="item-meta-i"><i class="po po-clock"></i>{{ page.date | date: "%d/%m/%Y" }}</a>
                <a href="#comments" class="item-meta-i"><i class="po po-portus"></i>193</a>
                <span class="item-meta-i"><i class="fa fa-folder"></i><a href="blog.html">Gadgets</a>, <a href="blog.html">News</a></span>
              </span>

              {{content}}

              {% include prev_next_post.html %}

            </div>
            <!-- BEGIN .portus-content-block -->
            <div class="portus-content-block">
              {% include disqus.html %}
              <!-- END .portus-content-block -->
            </div>

          </div>
          <!-- END .portus-main-content -->
        </div>
        <aside class="sidebar portus-sidebar-small">
          <div class="theiaStickySidebar">

            <!-- BEGIN .widget -->
            <div class="widget">

              <h3>Popular</h3>
              <div class="w-article-list-num">
                {% assign featured_posts = (site.posts|where:"featured","true") %}

                {% for post in featured_posts limit:5 %}
                  <div class="item">
                    <span class="item-num">{{forloop.index}}</span>
                    <div class="item-content">
                      <div class="item-categories">
                        <a href="#" data-ot-css="color: #f3d826;">{{post.category}}</a>
                      </div>
                      <h4><a href="{{post.url}}">{{post.title}}</a><a href="{{post.url}}.html#disqus_thread" class="post-title-comment"><i class="po po-portus" data-disqus-url="{{post.url}}"></i></a></h4>
                      <div class="item-meta">
                        <a href="{{post.url}}"><i class="po po-clock"></i>{{ post.date | italian_short_date }}</a>
                      </div>
                      <p>{{ post.excerpt | strip_html | truncatewords: 30}}</p>
                    </div>
                  </div>
                {%endfor%}

              </div>

            <!-- END .widget -->
            </div>

          </div>
        </aside>

      </div>
    </div>
    <!-- ENd .portus-main-content-panel -->
  </div>

  <!-- END .wrapper -->
</div>

