---
disqus: true
archive: true
post_class: post-template
---

{% include head.html %}
{% include navigation.html %}

<body class="{% if page.layout == 'post' %}post-template{% else %}home-template{% endif %}">

  <main class="content" role="main">

      <article class="post">

          <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <section class="post-meta">
                <p><em>Notizia del <time class="post-date" datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date:"%d-%m-%Y" }}</time></em></p>
                <p><em>Si parla di {{ page.tags | array_to_sentence_string_it }}</em></p>
                <p><em>Fonte: <a href="{{page.fonte}}">{{page.fonte}}</a></em></p>
              </section>
          </header>

          <section class="post-content">
              {{content}}
          </section>

          <section class="archive">

            <div>
              {% if page.image.credit %}
                <em>Image courtesy by: 
                {% if page.image.creditlink %}
                  <a href="{{page.image.creditlink}}">{{page.image.credit}}</a>
              {%else%}
                  {{page.image.credit}}
              {% endif %}
              </em>
            {% endif %}
            </div>
          </section>

          {% if page.archive %}
          <section class="archive">
              <h5>Archive</h5>
              <ul>
                  {% for n in site.news %}
                      <li><span>{{ n.date | date_to_string }}</span>  <a href="{{ n.url }}">{{ n.title }}</a></li>
                  {% endfor %}
                </ul>
            </section>
            {% endif %}

            <footer class="post-footer">
                <!-- If we want to display author's name and bio -->
                {% if site.author %}
                    <figure class="author-image">
                        <a class="img" href="{{ site.author.uri }}" style="background-image: url(/assets/images/profile.png)">
                        <span class="hidden">{{site.author.name}}'s Picture</span></a>
                    </figure>
                    <section class="author">
                        <!-- Author Name -->
                        <h4>{{ site.author.name }}</h4>
                        <!-- Author Bio -->
                        <p> 
                        {{ site.author.bio }}
                        </p>
                    </section>
                {% endif %}

                <!-- Share links section -->
                {% include share.html %}

                <!-- Disqus comments -->
                {% include disqus.html %}

            </footer>

        </article>

    </main>
  {% include footer.html %}
  {% include js.html %}
  {% include ga.html %}

  </body>
</html>
