---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
                <!-- Post Featured Image
            {% if page.image.feature %}

            {% if site.lazyimages == "enabled" %}
	            <img class="featured-image img-fluid lazyimg mx-auto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image.feature contains "://" %}{{ page.image }}{% else %}{{site.url}}/assets/images//{{ page.image.feature }}{% endif %}" alt="{{ page.title }}">
            {% else %}
              <img class="featured-image img-fluid mx-auto" src="{% if page.image.feature contains "://" %}{{ page.image }}{% else %}{{site.url}}/assets/images/{{ page.image.feature }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %} -->
            <!-- End Featured Image -->


    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
