---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.image.feature %}" style="background-image: url(/assets/images/{{ page.image.feature }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.image.feature %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="http://feeds.feedburner.com/CodiceInsicuro">Subscribe</a>
        <a style="margin-right: -0.3em;" class="subscribe-button" href='{{ site.baseurl }}about'> About</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                <p>
                <em>Questo post lo leggi in {{ page.content | reading_time }}</em>
                &bull; <em>Parla di {{ page.tags | array_to_sentence_string_it }}</em>
                </p>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="archive">

          <div>
            {% if page.image.credit %}
              <em>Image courtesy by: 
              {% if page.image.creditlink %}
                <a href="{{page.image.creditlink}}">{{page.image.credit}}</a>
            {%else%}
                {{page.image.credit}}
            {% endif %}
            </em>
          {% endif %}
          </div>
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}    
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4>{{ site.author }}</h4>
                    <!-- Author Bio -->
                    <p> 
                    {{ site.bio }}
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% include disqus.html %}

        </footer>

    </article>

</main>
