<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body id="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="headline">
  <div class="image-wrap" style="background-image: url({{site.root}}/images/headline_posts_listing.png);"></div>
  <span class="image-credit">Photo Credit: <a href="http://www.flickr.com/photos/thesp0nge/">Il codice di codiceinsicuro.it</a></span>
</div><!-- /.headline -->


<div id="index" class="container post-listing">
  <h1>{{ page.title }}</h1>
  {% for post in site.posts %}
  {% unless post.next %}
    <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}
    <article class="post-listing-item">
      <time datetime="{{ post.date | date: "%B %d, %Y"}}">{{ post.date | date: "%B %d, %Y"}}</time>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      {% endif %}
    </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap" style="background-image: url({{site.root}}/images/headline_posts_listing.png);">
  <footer class="container">
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
</body>
</html>
