<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="headline">
{% if page.image.feature %}
    {% if page.image.feature contains 'http://' %}
      <div class="post-image-wrap" style="background-image:url({{ page.image.feature }});"></div>
    {% elsif page.image.feature contains 'https://' %}
      <div class="post-image-wrap" style="background-image:url({{ page.image.feature }});"></div>
    {% else %}
      <div class="post-image-wrap" style="background-image:url({{ site.url }}/images/{{ page.image.feature }});"></div>
    {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
</div><!-- /.headline -->

<div id="main" role="main">
  <article class="container">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}

      <div class="meta"><p>{% icon fa-clock-o fa-fw %}<em>Questo post lo leggi in {{ page.content | reading_time }}</em></p></div>
      <div class="meta"><p>{% icon fa-tag fa-fw %}<em>Scritto nella categoria {{ page.category | array_to_sentence_string_it }}</em></p></div>
      <div class="meta"><p>{% icon fa-tags fa-fw %}<em>Parla di {{ page.tags | array_to_sentence_string_it }}</em></p></div>

      <hr />
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {% assign drop_cap = content|strip_html|truncate:4|remove:'.' %}
      {% capture drop_cap_html %}<span class="drop-cap">{{ drop_cap }}</span>{% endcapture %}
      {{ content|replace_first:drop_cap,drop_cap_html }}
      {% comment %} {{ content }} {% endcomment %}
      <hr />
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
        <p class="byline"><strong>{{ page.title }}</strong> è stato pubblicato il <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} e modificato il <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %} </p>
        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6404635'></div>
      </footer>
    </div><!-- /.article-wrap -->

  {% if site.disqus_shortname and page.comments %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
  <div class="related-articles">
  <h4>Ti potrebbe anche interessare <small class="pull-right">(<a href="{{ site.url }}/posts/">Guarda tutti i post</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div><!-- /.related-articles -->
</div><!-- /#main -->

<div class="footer-wrap" style="background-image: url({{site.url}}/images/{{page.image.feature}})">
  <footer class="container">
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
