---
layout: default
disqus: false
archive: false
post_class: post-template
---

{% include navigation.html %}

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
          <h1 class="post-title">Rimedio #{{page.order}}: {{ page.title }}</h1>
            <section class="post-meta">
              <p><em>Scritto da <a href="{{ site.author.uri }}">{{ site.author.name }}</a> il <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time></em></p>
                <p>
                <em>Questo post lo leggi in {{ page.content | reading_time }}</em>
                &bull; <em>Parla di {{ page.tags | array_to_sentence_string_it }}</em>
                </p>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="archive">

          <div>
            {% if page.image.credit %}
              <em>Image courtesy by: 
              {% if page.image.creditlink %}
                <a href="{{page.image.creditlink}}">{{page.image.credit}}</a>
            {%else%}
                {{page.image.credit}}
            {% endif %}
            </em>
          {% endif %}
          </div>
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.author.uri }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author.name}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4>{{ site.author.name }}</h4>
                    <!-- Author Bio -->
                    <p> 
                    {{ site.author.bio }}
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% include disqus.html %}

        </footer>

    </article>

</main>
