---
layout: default
disqus: true
archive: false
---


<!-- BEGIN .wrapper -->
<div class="wrapper">
  <!-- BEGIN .portus-main-content-panel -->
  <div class="paragraph-row portus-main-content-panel">
    <div class="column12">
      <div class="portus-main-content-s-block">

        <!-- BEGIN .portus-main-content -->
        <div class="portus-main-content">
          <div class="theiaStickySidebar">
            <div class="portus-main-article-block">
              <h2>{{page.title}}</h2>

              <p class="portus-main-article-intro">{{page.excerpt | strip_html | truncatewords: 150}}</p>

              <span class="portus-main-article-meta">
                <a href="{{site.url}}" class="item-meta-i"><i class="po po-head"></i>{{site.author.name}}</a>
                <a href="{{site.url}}" class="item-meta-i"><i class="po po-clock"></i>{{ page.date | italian_date }}</a>
                <a href="#comments" class="item-meta-i"><i class="po po-portus"></i>193</a>
                <span class="item-meta-i"><i class="fa fa-folder"></i><a href="blog.html">Gadgets</a>, <a href="blog.html">News</a></span>
              </span>

              <div class="wp-caption aligncenter">
                <a href="{{site.url}}/assets/images/{{page.image.feature}}" class="lightbox-photo" title="Photo by {{page.image.credit}}"><img src="{{site.url}}/assets/images/{{page.image.feature}}" alt="" /></a>
                <p class="wp-caption-text">Photo by <strong>{{page.image.credit}}</strong></p>
              </div>

              {{content}}

              <div class="article-main-next-prev">
                <div class="paragraph-row">
                  <div class="column6">
                    <a href="#" class="article-nav-previous">
                      <i class="fa fa-chevron-left"></i>
                      <span>Previous article</span>
                      <strong>Has ut quando laoreet et lucilius menandri usu duo ea errem urbanitas</strong>
                    </a>
                  </div>
                  <div class="column6">
                    <a href="#" class="article-nav-next">
                      <i class="fa fa-chevron-right"></i>
                      <span>Next article</span>
                      <strong>Amet iudico tincidunt at sea ut euismod antiopam interesset eos</strong>
                    </a>
                  </div>
                </div>
              </div>

              <div class="portus-post-author">
                <div class="portus-post-author-avatar">
                  <a href="#"><img src="images/no-avatar-100x100.jpg" alt="" /></a>
                </div>
                <div class="portus-post-author-content">
                  <h3><a href="#">Orange Themes</a></h3>
                  <p>Omnium salutandi scribentur qui ne, quis honestatis an nam. Vix possim definitionem eu, id eum causae tacimates. Est et aliquam invidunt, id esse alterum intellegebat eos. Has ad aliquid facilisi temporibus.</p>
                  <div class="item-meta">
                    <a href="#"><i class="fa fa-reply"></i>View all articles</a>
                    <a href="#"><i class="fa fa-envelope"></i>Contact me</a>
                  </div>
                </div>
              </div>



            </div>

            <!-- BEGIN .portus-content-block -->
            <div class="portus-content-block">
              <div class="portus-content-title">
                <h2>3 Comments</h2>
                <a href="#respond" class="right set-this-dotted">Write a comment</a>
              </div>
              <div class="comment-list">
                <ol id="comments">
                  <li class="comment">
                    <div class="comment-block">
                      <a href="#" class="image-avatar">
                        <img src="images/photos/avatar-4.jpg" alt="" title="" />
                      </a>
                      <div class="comment-text">
                        <span class="time-stamp right">14 April 2015</span>
                        <strong class="user-nick"><a href="#">Charley Leroy</a></strong>
                        <div class="shortcode-content">
                          <p>Est purto aliquip id, cu est verear vituperata, no etiam ponderum pro. Omnium perpetua ea duo, et mel quas debet. Te has mucius everti repudiare, pri singulis sententiae at. Sanctus senserit vix an. Qui feugiat consectetuer eu, fugit saperet docendi vis id.</p>
                        </div>
                        <a class="reply-button read-more-button" href="#">Reply this comment<i class="fa fa-mail-forward"></i></a>
                      </div>
                    </div>
                    <ul class="children">
                      <li class="comment">
                        <div class="comment-block">
                          <a href="#" class="image-avatar">
                            <img src="images/photos/avatar-5.jpg" alt="" title="" />
                          </a>
                          <div class="comment-text">
                            <span class="time-stamp right">14 April 2015</span>
                            <strong class="user-nick"><a href="#">Orange-Themes</a><span class="user-label">Author</span></strong>
                            <div class="shortcode-content">
                              <p>Est purto aliquip id, cu est verear vituperata, no etiam ponderum pro. Omnium perpetua ea duo, et mel quas debet. Te has mucius everti repudiare, pri singulis sententiae at. Sanctus senserit vix an. Qui feugiat consectetuer eu, fugit saperet docendi vis id.</p>
                            </div>
                            <a class="reply-button read-more-button" href="#">Reply this comment<i class="fa fa-mail-forward"></i></a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="comment">
                    <div class="comment-block">
                      <a href="#" class="image-avatar">
                        <img src="images/photos/avatar-6.jpg" alt="" title="" />
                      </a>
                      <div class="comment-text">
                        <span class="time-stamp right">14 April 2015</span>
                        <strong class="user-nick"><a href="#">Orange-Themes</a><span class="user-label">Author</span></strong>
                        <div class="shortcode-content">
                          <p>An diam graece vituperatoribus per, posse definiebas no eam. Autem deleniti delicatissimi eam in. Mea gubergren democritum efficiendi ea, veniam tamquam quo cu. Malorum fabulas nusquam cu qui, cu per sonet congue delicata. Inani omnium iisque sit ea.</p>
                        </div>
                        <a class="reply-button read-more-button" href="#">Reply this comment<i class="fa fa-mail-forward"></i></a>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
              <!-- END .portus-content-block -->
            </div>

            <!-- BEGIN .portus-content-block -->
            <div class="portus-content-block">
              <div class="portus-content-title">
                <h2>Write a Comment</h2>
                <a href="#comments" class="right set-this-dotted">view all comments</a>
              </div>
              <div class="comment-form">
                <div id="respond" class="comment-respond">

                  <form action="#" class="comment-form">
                    <div class="comment-info">
                      <strong>Your data will be safe!</strong>
                      <span>Your e-mail address will not be published. Also other data will not be shared with third person.</span>
                    </div>
                    <div class="alert-message alert-green">
                      <strong>Success! This a success message</strong>
                    </div>
                    <div class="alert-message alert-red">
                      <strong>Error! This an error message</strong>
                    </div>
                    <div class="alert-message">
                      <strong>Warning! This a warning message</strong>
                    </div>
                    <div class="contact-form-content">
                      <p class="contact-form-user">
                      <label class="label-input">
                        <span>Nickname<i class="required">*</i></span>
                        <input type="text" placeholder="Nickname" name="nickname" value="">
                      </label>
                      </p>
                      <p class="contact-form-email">
                      <label class="label-input">
                        <span>E-mail<i class="required">*</i></span>
                        <input type="email" placeholder="E-mail" name="email" value="">
                      </label>
                      </p>
                      <p class="contact-form-website">
                      <label class="label-input">
                        <span>Web address</span>
                        <input type="text" placeholder="ex. www.orange-tehemes.com" name="www" value="">
                      </label>
                      </p>
                      <p class="contact-form-comment">
                      <label class="label-input">
                        <span>Comment text<i class="required">*</i></span>
                        <textarea name="comment" placeholder="Comment text"></textarea>
                      </label>
                      </p>
                      <p class="form-submit">
                      <input name="submit" type="submit" id="submit" class="submit button" value="Post a Comment">
                      </p>
                    </div>
                  </form>

                </div>
              </div>
              <!-- END .portus-content-block -->
            </div>

          </div>
          <!-- END .portus-main-content -->
        </div>
      </div>
    </div>
    <!-- ENd .portus-main-content-panel -->
  </div>

  <!-- END .wrapper -->
</div>

